﻿@{
    ViewBag.Title = "Транспорт";
    ViewBag.Subtitle = "";
}

@model RKAdmin.Models.TransportViewModel

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Транспорт #@Model.Id</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Згорнути/ Разгорнути">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(_ => _.Id)

                    <div class="form-group">
                        <label>Код</label>
                        @Html.TextBoxFor(_ => _.Code, new { @class = "form-control", required = "", pattern = ".{3,}", title = "Код має бути не мень ніж 3 символи" })
                        @Html.ValidationMessageFor(_ => _.Code, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Тип транспорта</label>
                        @Html.DropDownListFor(_ => _.Type.Id, (SelectList)ViewBag.TypeId, new { id = "transportType", @class = "form-control", required = "" })
                        @Html.ValidationMessageFor(_ => _.Code, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Маршрут</label>
                        @Html.DropDownListFor(_ => _.Route.Id, (SelectList)ViewBag.RouteId, "Оберіть маршрут", new { id = "transportRoute", @class = "form-control" })
                        @Html.ValidationMessageFor(_ => _.Code, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Зберегти" class="btn btn-success" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#transportType").change(function () {
                var val = $(this).val();
                var subItems = "<option value=''>Оберіть маршрут</option>";
                $.getJSON("@Url.Action("GetRoutes","Transports")", {type:val} ,function (data) {
                    $.each(data,function(index,item) {
                        subItems += "<option value='" + item.Id + "'>" + item.Name + "</option>";
                    });
                    $("#transportRoute").html(subItems);
                });
            });
        });
    </script>
}