﻿@{
    ViewBag.Title = "Статистика";
    ViewBag.Subtitle = "";
}

@using DataModel.Extentions
@model RKAdmin.Models.SummaryStatisticViewModel

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Статистика за типами інциденту</a></li>
        <li><a href="#tab_2" data-toggle="tab" aria-expanded="false">Статистика за типами траспорту</a></li>
        <li><a href="#tab_3" data-toggle="tab">Статистика за маршрутами</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <table id="table" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Тип інциденту</th>
                        <th>Кількість</th>
                        <th>Новий</th>
                        <th>Прочитано</th>
                        <th>Передано в роботу</th>
                        <th>Роботи закінчено</th>
                        <th>Роботи призупинено</th>
                        <th>Необхідна перевірка</th>
                        <th>Виконано</th>
                        <th>Відкрито повторно</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ByTypes)
                    {
                        <tr>
                            <td>@item.Text</td>
                            <td>@item.Value</td>
                            <td>@item.New</td>
                            <td>@item.Read</td>
                            <td>@item.InWork</td>
                            <td>@item.WorkDone</td>
                            <td>@item.WorkStopped</td>
                            <td>@item.CheckNeeded</td>
                            <td>@item.Closed</td>
                            <td>@item.Reopened</td>
                            <td>
                                <a href="@Url.Action("Filter", "Incidents", new {incidentType = item.ItemId})" class="btn btn-info btn-xs">Переглянути</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_2">
            <table id="table2" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Тип інциденту</th>
                        <th>Кількість</th>
                        <th>Новий</th>
                        <th>Прочитано</th>
                        <th>Передано в роботу</th>
                        <th>Роботи закінчено</th>
                        <th>Роботи призупинено</th>
                        <th>Необхідна перевірка</th>
                        <th>Виконано</th>
                        <th>Відкрито повторно</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ByTrasports)
                    {
                        <tr>
                            <td>@item.Text</td>
                            <td>@item.Value</td>
                            <td>@item.New</td>
                            <td>@item.Read</td>
                            <td>@item.InWork</td>
                            <td>@item.WorkDone</td>
                            <td>@item.WorkStopped</td>
                            <td>@item.CheckNeeded</td>
                            <td>@item.Closed</td>
                            <td>@item.Reopened</td>
                            <td>
                                <a href="@Url.Action("Filter", "Incidents", new {trasportType = item.ItemId})" class="btn btn-info btn-xs">Переглянути</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_3">
            <table id="table3" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Тип інциденту</th>
                        <th>Кількість</th>
                        <th>Новий</th>
                        <th>Прочитано</th>
                        <th>Передано в роботу</th>
                        <th>Роботи закінчено</th>
                        <th>Роботи призупинено</th>
                        <th>Необхідна перевірка</th>
                        <th>Виконано</th>
                        <th>Відкрито повторно</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ByRoutes)
                    {
                        <tr>
                            <td>@item.Text</td>
                            <td>@item.Value</td>
                            <td>@item.New</td>
                            <td>@item.Read</td>
                            <td>@item.InWork</td>
                            <td>@item.WorkDone</td>
                            <td>@item.WorkStopped</td>
                            <td>@item.CheckNeeded</td>
                            <td>@item.Closed</td>
                            <td>@item.Reopened</td>
                            <td>
                                <a href="@Url.Action("Filter", "Incidents", new {route = item.ItemId})" class="btn btn-info btn-xs">Переглянути</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->

</div>


@section styles
{
    <link rel="stylesheet" href="~/assets/css/dataTables.bootstrap.min.css">
}

@section scripts
{
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/dataTables.bootstrap.min.js"></script>

    <script>

        var table1 = $('#table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Ukrainian.json"
            },
            "order": [[1, "desc"]]
        });
        var table2 = $('#table2').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Ukrainian.json"
            },
            "order": [[1, "desc"]]
        });
        var table2 = $('#table3').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Ukrainian.json"
            },
            "order": [[1, "desc"]]
        });
    </script>
}
