﻿@{
    ViewBag.Title = "Dashboard";
    ViewBag.Subtitle = "Emptypage";
}

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Title</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Згорнути/ Разгорнути">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        Empty
    </div>
    <div class="box-footer">
        Footer
    </div>
</div>