﻿@{
    ViewBag.Title = "Маршрути";
    ViewBag.Subtitle = "";
}

@model RKAdmin.Models.TransportRouteViewModel

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Новий маршрут</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Згорнути/ Разгорнути">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                @using (Html.BeginForm())
                {

                    <div class="form-group">
                        <label>Назва маршрута</label>
                        @Html.TextBoxFor(_ => _.Name, new { @class = "form-control", required = "" })
                        @Html.ValidationMessageFor(_ => _.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Начало маршрута</label>
                        @Html.TextBoxFor(_ => _.StartStation, new { @class = "form-control", required = "" })
                        @Html.ValidationMessageFor(_ => _.StartStation, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Кінець маршрута</label>
                        @Html.TextBoxFor(_ => _.StopStation, new { @class = "form-control", required = "" })
                        @Html.ValidationMessageFor(_ => _.StopStation, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>АТП</label>
                        @Html.DropDownListFor(_ => _.TransportOgranization.Id, (SelectList)ViewBag.OrganizationId, new { @class = "form-control", @required = "" })
                        @Html.ValidationMessageFor(_ => _.TransportOgranization.Id, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Тип транспорта</label>
                        @Html.DropDownListFor(_ => _.Type.Id, (SelectList)ViewBag.TypeId, new { @class = "form-control", @required = "" })
                        @Html.ValidationMessageFor(_ => _.Type.Id, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Зберегти" class="btn btn-su" />
                    </div>
                    <a href="@Url.Action("Index")" class="btn btn-danger">Відміна</a>
                }
            </div>
        </div>
    </div>
</div>