﻿@model RKAdmin.Models.CertificateViewModel

    @{
        ViewBag.Title = "Акти виконаних робіт";
        ViewBag.Subtitle = "Створення Акта";
    }


    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Новий Акти виконаних робіт</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Згорнути/ Разгорнути">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm())
                    {
                        @Html.HiddenFor(_ => _.OrderId)

                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Іинформація</a></li>
                                <li><a href="#tab_2" data-toggle="tab" aria-expanded="false">Виконані роботи</a></li>
                                <li><a href="#tab_3" data-toggle="tab">Викорастані матеріали\інструменти</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <div class="row">
                                        <div class="col-md-6">

                                            <a href="@Url.Action("Order", "Orders", new {id = Model.OrderId})" target="_blank">Заказ-наряд #@Model.OrderId - переглянути деталі</a>

                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_2">
                                    <a href="#" data-toggle="modal" data-target="#modal-work" type="button" class="btn btn-xs btn-info">Додати</a>
                                    <br />
                                    <br />
                                    <table id="table" class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>Робота</th>
                                                <th>Кіл-сть</th>
                                                <th>Норма часу (г)</th>
                                                <th>Вартість</th>
                                                <th>Сума</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_3">
                                    <a href="#" data-toggle="modal" data-target="#modal-items" type="button" class="btn btn-xs btn-info">Додати</a>
                                    <br />
                                    <br />
                                    <table id="table2" class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>Назва</th>
                                                <th>Од. вим.</th>
                                                <th>Кіл-сть</th>
                                                <th>Вартість</th>
                                                <th>Сума</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->

                        </div>

                        <input type="submit" value="Зберегти" class="btn btn-success" />
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-work">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Додати роботу</h4>
                </div>
                <div class="modal-body">
                    <form id="workForm" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Назва роботи</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="input-name" id="input-name" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Кількість</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="input-count" id="input-count" min="0" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Час (г)</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="input-time" id="input-time" min="0" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Вартість</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="input-cost" id="input-cost" min="0" required/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" onclick="clearAnCloseWorks()">Відмінити</button>
                    <button type="button" class="btn btn-primary" onclick="addWorkRow()">Додати</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="modal-items">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Додати матеріал або інструмент</h4>
                </div>
                <div class="modal-body">
                    <form id="itemForm" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Назва</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="input-item-name" required id="input-item-name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Кількість</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="input-item-count" id="input-item-count" min="0" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Од. Вимір.</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="input-type" name="input-type" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Вартість</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="input-item-cost" id="input-item-cost" min="0" required/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" onclick="clearAndCloseItems()">Відмінити</button>
                    <button type="button" class="btn btn-primary" onclick="addItemkRow()">Додати</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    @section styles
{
        <link rel="stylesheet" href="~/assets/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="~/assets/css/bootstrap-datepicker.min.css">
    }

    @section scripts
    {
        <script src="~/assets/js/jquery.dataTables.min.js"></script>
        <script src="~/assets/js/dataTables.bootstrap.min.js"></script>
        <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
        <script src="~/assets/locales/bootstrap-datepicker.ru.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
        <script src="~/assets/js/messages_ru.js"></script>

        <script>

            var table1 = $('#table').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Ukrainian.json"
                }
            });
            var table2 = $('#table2').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Ukrainian.json"
                }
            });

            //Date picker
            $('.datepicker').datepicker({
                autoclose: true
            });

            $('#table tbody').on('click',
                'a.deleterow',
                function() {
                    table1
                        .row($(this).parents('tr'))
                        .remove()
                        .draw();
                });

            $('#table2 tbody').on('click',
                'a.deleterow',
                function() {
                    table2
                        .row($(this).parents('tr'))
                        .remove()
                        .draw();
                });

            function addWorkRow() {

                var form = $("#workForm");
                form.validate();
                if (form.valid()) {

                    var rowCount = table1.rows().count();
                    var name = $('#input-name').val();
                    var count = $('#input-count').val();
                    var cost = $('#input-cost').val();
                    var time = $('#input-time').val();
                    var sum = count * (cost * time);

                    var nameInput = '<input type="hidden" name="CertificateWorks[' +
                        rowCount +
                        '].Name" value="' +
                        name +
                        '" />';
                    var countInput = '<input type="hidden" name="CertificateWorks[' +
                        rowCount +
                        '].Count" value="' +
                        count +
                        '" />';
                    var costInput = '<input type="hidden" name="CertificateWorks[' +
                        rowCount +
                        '].Cost" value="' +
                        cost +
                        '" />';
                    var timeInput = '<input type="hidden" name="CertificateWorks[' +
                        rowCount +
                        '].Time" value="' +
                        time +
                        '" />';
                    var delBtn = '<a href="#/" class="btn btn-xs btn-danger deleterow"><i class="fa fa-remove"></i></a>';

                    table1.row.add([name + nameInput, count + countInput, time + timeInput, cost + costInput, sum, delBtn])
                        .draw();

                    clearAnCloseWorks();
                }
                
            }

            function addItemkRow() {
                var form = $("#itemForm");
                form.validate();
                if (form.valid()) {

                    var rowCount = table2.rows().count();
                    var name = $('#input-item-name').val();
                    var count = $('#input-item-count').val();
                    var cost = $('#input-item-cost').val();
                    var type = $('#input-type').val();
                    var sum = count * cost;

                    var nameInput = '<input type="hidden" name="CertificateItems[' +
                        rowCount +
                        '].Name" value="' +
                        name +
                        '" />';
                    var countInput = '<input type="hidden" name="CertificateItems[' +
                        rowCount +
                        '].Count" value="' +
                        count +
                        '" />';
                    var costInput = '<input type="hidden" name="CertificateItems[' +
                        rowCount +
                        '].Cost" value="' +
                        cost +
                        '" />';
                    var typeInput = '<input type="hidden" name="CertificateItems[' +
                        rowCount +
                        '].Type" value="' +
                        type +
                        '" />';
                    var delBtn =
                        '<a href="#/" class="btn btn-xs btn-danger deleterow"><i class="fa fa-remove"></i></a>';

                    table2.row.add([
                            name + nameInput, type + typeInput, count + countInput, cost + costInput, sum, delBtn
                        ])
                        .draw();

                    clearAndCloseItems();
                }
            }

            function clearAnCloseWorks() {
                $('#input-name').val('');
                $('#input-count').val('');
                $('#input-cost').val('');
                $('#input-time').val('');

                $('#modal-work').modal('hide');
            }

            function clearAndCloseItems() {
           
                $('#input-item-name').val('');
                $('#input-item-count').val('');
                $('#input-item-cost').val('');
                $('#input-type').val('');

                $('#modal-items').modal('hide');
            }
        </script>
    }
