﻿@model RKAdmin.Models.CertificateViewModel

@{
    ViewBag.Title = "Акти виконаних робіт";
    ViewBag.Subtitle = "Редагування Акта";
}


<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Редагувати акт виконаних робіт #@Model.Id</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Згорнути/ Разгорнути">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(_ => _.Id)

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Іинформація</a></li>
                            <li><a href="#tab_2" data-toggle="tab" aria-expanded="false">Виконані роботи</a></li>
                            <li><a href="#tab_3" data-toggle="tab">Викорастані матеріали\інструменти</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                <div class="row">
                                    <div class="col-md-6">

                                        <a href="@Url.Action("Order", "Orders", new {id = Model.OrderId})" target="_blank">Заказ-наряд #@Model.OrderId - переглянути деталі</a>

                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_2">
                                <button onclick="addWork()"  type="button" class="btn btn-xs btn-info">Додати</button>
                                <br />
                                <br />
                                <table id="table" class="table table-striped table-hover" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Робота</th>
                                            <th>Кіл-сть</th>
                                            <th>Норма часу (г)</th>
                                            <th>Вартість</th>
                                            <th>Сума</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @foreach(var work in Model.CertificateWorks)
                                    {
                                        <tr>
                                            <td>@work.Id</td>
                                            <td>
                                                @work.Name
                                            </td>
                                            <td>
                                                @work.Count
                                            </td>
                                            <td>
                                                @work.Time
                                            </td>
                                            <td>
                                                @work.Cost
                                            </td>
                                            <td>@(work.Count * work.Cost * work.Time)</td>
                                            <td>
                                                <a href="#/" class="btn btn-default btn-xs editrow"><i class="icon ion-edit"></i></a>
                                                <a href="#/" onclick="deleteWork(@work.Id, this)" class="btn btn-xs btn-danger">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_3">
                                <button onclick="addItem()" type="button" class="btn btn-xs btn-info">Додати</button>
                                <br />
                                <br />
                                <table id="table2" class="table table-striped table-hover"  style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Назва</th>
                                            <th>Од. вим.</th>
                                            <th>Кіл-сть</th>
                                            <th>Вартість</th>
                                            <th>Сума</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @foreach(var item in Model.CertificateItems)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>
                                                @item.Type
                                            </td>
                                            <td>
                                                @item.Count
                                            </td>
                                            <td>
                                                @item.Cost
                                            </td>
                                            <td>@(item.Count * item.Cost)</td>
                                            <td>
                                                <a href="#/" class="btn btn-default btn-xs editrow"><i class="icon ion-edit"></i></a>
                                                <a href="#/" onclick="deleteItem(@item.Id, this)" class="btn btn-xs btn-danger">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->

                    </div>

                    <input type="submit" value="Зберегти" class="btn btn-success" />
                    <a href="@Url.Action("Certificate", new {id = Model.Id})" class="btn btn-danger">Відмінити</a>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-work" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="clearAnCloseWorks()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Додати роботу</h4>
            </div>
            <div class="modal-body">
                <form id="workForm" class="form-horizontal">
                    <input type="hidden" id="input-id"/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Назва роботи</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="input-name" id="input-name" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Кількість</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="input-count" id="input-count" min="0" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Час (г)</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="input-time" id="input-time" min="0" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Вартість</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="input-cost" id="input-cost" min="0" required/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" onclick="clearAnCloseWorks()">Відмінити</button>
                <button id="addWorkBtn" type="button" class="btn btn-primary" onclick="addWorkRow()">Додати</button>
                <button id="editWorkBtn" type="button" class="btn btn-primary" onclick="saveEditWorkRow()">Зберегти</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-items" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="clearAndCloseItems()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Додати матеріал або інструмент</h4>
            </div>
            <div class="modal-body">
                <form id="itemForm" class="form-horizontal">
                    <input type="hidden" id="input-item-id"/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Назва</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="input-item-name" required id="input-item-name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Кількість</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="input-item-count" id="input-item-count" min="0" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Од. Вимір.</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="input-type" name="input-type" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Вартість</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="input-item-cost" id="input-item-cost" min="0" required/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="" type="button" class="btn btn-default pull-left" onclick="clearAndCloseItems()">Відмінити</button>
                <button id="addItemBtn" type="button" class="btn btn-primary" onclick="addItemkRow()">Додати</button>
                <button id="editItemBtn" type="button" class="btn btn-primary" onclick="saveEditItemRow()">Зберегти</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section styles
{
    <link rel="stylesheet" href="~/assets/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/assets/css/sweetalert.css">
}

@section scripts
{
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/locales/bootstrap-datepicker.ru.min.js"></script>
    <script src="~/assets/js/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <script src="~/assets/js/messages_ru.js"></script>

    <script>

        var table1 = $('#table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Ukrainian.json"
            },
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }
            ]
        });
        var table2 = $('#table2').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Ukrainian.json"
            },
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }
            ]
        });

        var currentWorks = @Model.CertificateWorks.Count;
        var currentItems = @Model.CertificateItems.Count;


        $('#table tbody').on('click',
            'a.deleterow',
            function() {
                table1
                    .row($(this).parents('tr'))
                    .remove()
                    .draw();
            });

        $('#table tbody').on('click',
            'a.editrow',
            function() {
                editWorkRow($(this).parents('tr'));
            });

        $('#table2 tbody').on('click',
            'a.deleterow',
            function() {
                table2
                    .row($(this).parents('tr'))
                    .remove()
                    .draw();
            });

        $('#table2 tbody').on('click',
            'a.editrow',
            function () {
                editItemRow($(this).parents('tr'));
            });


        function deleteItem(id, row) {
            swal({
                    title: "Ви впевнені?",
                    text: "Цю дію не можливо відмінити!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Так, видалити!",
                    cancelButtonText: "Ні!"
                },
                () => {
                    var url = '@Url.Action("DeleteItem")';
                    $.post(url,
                            { "id": id },
                            () => {
                                table2
                                    .row($(row).parents('tr'))
                                    .remove()
                                    .draw();
                                currentItems--;
                            })
                        .fail(() => {
                            swal({
                                title: "Помилка",
                                text:
                                    "Цю дію неможливо виконати зараз. Можливо цей елемент використовується у іншому місці",
                                type: "error",
                                showCancelButton: true,
                                showConfirmButton: false,
                                cancelButtonText: "Добре"
                            });
                        });
                });
        }

        function deleteWork(id, row) {
            swal({
                    title: "Ви впевнені?",
                    text: "Цю дію не можливо відмінити!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Так, видалити!",
                    cancelButtonText: "Ні!"
                },
                () => {
                    var url = '@Url.Action("DeleteWork")';
                    $.post(url,
                            { "id": id },
                            () => {
                                table1
                                    .row($(row).parents('tr'))
                                    .remove()
                                    .draw();
                                currentWorks--;
                            })
                        .fail(() => {
                            swal({
                                title: "Помилка",
                                text:
                                    "Цю дію неможливо виконати зараз. Можливо цей елемент використовується у іншому місці",
                                type: "error",
                                showCancelButton: true,
                                showConfirmButton: false,
                                cancelButtonText: "Добре"
                            });
                        });
                });
        }

        function editWorkRow(row) {
            var rowdata = table1.row(row).data();
            var index = table1.row(row).index();

            $('#input-id').val(index);
            $('#input-name').val(rowdata[1]);
            $('#input-count').val(rowdata[2]);
            $('#input-time').val(rowdata[3]);
            $('#input-cost').val(rowdata[4].replace(",", "."));

            $('#addWorkBtn').hide();
            $('#editWorkBtn').show();

            $('#modal-work').modal('show');
        }

        function editItemRow(row) {
            var rowdata = table2.row(row).data();
            var index = table2.row(row).index();

            $('#input-item-id').val(index);
            $('#input-item-name').val(rowdata[1]);
            $('#input-type').val(rowdata[2]);
            $('#input-item-count').val(rowdata[3]);
            $('#input-item-cost').val(rowdata[4].replace(",", "."));

            $('#addItemBtn').hide();
            $('#editItemBtn').show();

            $('#modal-items').modal('show');
        }

        function saveEditWorkRow() {
            var index = $('#input-id').val();
            var id = table1.row(index).data()[0];
            var name = $('#input-name').val();
            var count = $('#input-count').val();
            var cost = $('#input-cost').val();
            var time = $('#input-time').val();
            var sum = count * (cost * time);

            var delBtn = '<a href="#/" class="btn btn-xs btn-danger deleterow"><i class="fa fa-remove"></i></a>';
            var editBtn = '<a href="#/" class="btn btn-default btn-xs editrow"><i class="icon ion-edit"></i></a>';

            swal({
                    title: "Ви впевнені?",
                    text: "Цю дію не можливо відмінити!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-success",
                    confirmButtonText: "Так, редагувати!",
                    cancelButtonText: "Ні!"
                },
                () => {
                    var url = '@Url.Action("EditWorkRow")';
                    $.post(url,
                            {
                                "id": id,
                                "name": name,
                                "cost": cost,
                                "time": time,
                                "count": count
                            },
                            () => {
                                table1.row(index).data([id, name, count, time, cost, sum, editBtn + delBtn])
                                    .draw();

                                clearAnCloseWorks();
                            })
                        .fail(() => {
                            swal({
                                title: "Помилка",
                                text:
                                    "Цю дію неможливо виконати зараз. Можливо цей елемент використовується у іншому місці",
                                type: "error",
                                showCancelButton: true,
                                showConfirmButton: false,
                                cancelButtonText: "Добре"
                            });
                        });
                });
        }

        function saveEditItemRow() {
            var index = $('#input-item-id').val();
            var id = table2.row(index).data()[0];
            var name = $('#input-item-name').val();
            var count = $('#input-item-count').val();
            var cost = $('#input-item-cost').val();
            var type = $('#input-type').val();
            var sum = count * cost;

            var delBtn = '<a href="#/" class="btn btn-xs btn-danger deleterow"><i class="fa fa-remove"></i></a>';
            var editBtn = '<a href="#/" class="btn btn-default btn-xs editrow"><i class="icon ion-edit"></i></a>';

            swal({
                    title: "Ви впевнені?",
                    text: "Цю дію не можливо відмінити!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-success",
                    confirmButtonText: "Так, редагувати!",
                    cancelButtonText: "Ні!"
                },
                () => {
                    var url = '@Url.Action("EditItemRow")';
                    $.post(url,
                            {
                                "id": id,
                                "name": name,
                                "type": type,
                                "cost": cost,
                                "count": count
                            },
                            () => {
                                table2.row(index).data([0, name, type, count, cost, sum, editBtn + delBtn])
                                    .draw();

                                clearAndCloseItems();
                            })
                        .fail(() => {
                            swal({
                                title: "Помилка",
                                text:
                                    "Цю дію неможливо виконати зараз. Можливо цей елемент використовується у іншому місці",
                                type: "error",
                                showCancelButton: true,
                                showConfirmButton: false,
                                cancelButtonText: "Добре"
                            });
                        });
                });
        }

        function addWork() {
            $('#addWorkBtn').show();
            $('#editWorkBtn').hide();
            $('#modal-work').modal('show');
        }

        function addItem() {
            $('#addItemBtn').show();
            $('#editItemBtn').hide();
            $('#modal-items').modal('show');
        }

        function addWorkRow() {

            var form = $("#workForm");
            form.validate();
            if (form.valid()) {


                var rowCount = table1.rows().count();
                if (currentWorks > 0)
                    rowCount = rowCount - currentWorks;
                var name = $('#input-name').val();
                var count = $('#input-count').val();
                var cost = $('#input-cost').val();
                var time = $('#input-time').val();
                var sum = count * (cost * time);

                var nameInput = '<input type="hidden" name="CertificateWorks[' +
                    rowCount +
                    '].Name" value="' +
                    name +
                    '" />';
                var countInput = '<input type="hidden" name="CertificateWorks[' +
                    rowCount +
                    '].Count" value="' +
                    count +
                    '" />';
                var costInput = '<input type="hidden" name="CertificateWorks[' +
                    rowCount +
                    '].Cost" value="' +
                    cost +
                    '" />';
                var timeInput = '<input type="hidden" name="CertificateWorks[' +
                    rowCount +
                    '].Time" value="' +
                    time +
                    '" />';
                var delBtn = '<a href="#/" class="btn btn-xs btn-danger deleterow"><i class="fa fa-remove"></i></a>';

                var row = table1.row.add([
                        0, name + nameInput, count + countInput, time + timeInput, cost + costInput, sum, delBtn
                    ])
                    .draw().node();
                $(row).addClass('success');

                clearAnCloseWorks();
            }

        }

        function addItemkRow() {
            var form = $("#itemForm");
            form.validate();
            if (form.valid()) {

                var rowCount = table2.rows().count();
                if (currentItems > 0)
                    rowCount = rowCount - currentItems;
                var name = $('#input-item-name').val();
                var count = $('#input-item-count').val();
                var cost = $('#input-item-cost').val();
                var type = $('#input-type').val();
                var sum = count * cost;

                var nameInput = '<input type="hidden" name="CertificateItems[' +
                    rowCount +
                    '].Name" value="' +
                    name +
                    '" />';
                var countInput = '<input type="hidden" name="CertificateItems[' +
                    rowCount +
                    '].Count" value="' +
                    count +
                    '" />';
                var costInput = '<input type="hidden" name="CertificateItems[' +
                    rowCount +
                    '].Cost" value="' +
                    cost +
                    '" />';
                var typeInput = '<input type="hidden" name="CertificateItems[' +
                    rowCount +
                    '].Type" value="' +
                    type +
                    '" />';
                var delBtn =
                    '<a href="#/" class="btn btn-xs btn-danger deleterow"><i class="fa fa-remove"></i></a>';

                var row = table2.row.add([
                        0, name + nameInput, type + typeInput, count + countInput, cost + costInput, sum, delBtn
                    ])
                    .draw().node();
                $(row).addClass('success');

                clearAndCloseItems();
            }
        }

        function clearAnCloseWorks() {
            $('#input-name').val('');
            $('#input-count').val('');
            $('#input-cost').val('');
            $('#input-time').val('');

            $('#modal-work').modal('hide');
        }

        function clearAndCloseItems() {

            $('#input-item-name').val('');
            $('#input-item-count').val('');
            $('#input-item-cost').val('');
            $('#input-type').val('');

            $('#modal-items').modal('hide');
        }
    </script>
}

