﻿@model RKAdmin.Models.LoginViewModel
@{
    Layout = null;
}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Вхід у систему | Розумна країна</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="~/assets/css/ionicons.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="~/assets/css/AdminLTE.min.css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Google Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    </head>
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <img src="~/assets/img/logo.svg" />
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body" style="border: 1px solid #d0021b">
                <p class="login-box-msg">Введіть вашу електрону пошту та пароль для входу</p>
                @using (@Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group has-feedback">
                        @Html.TextBoxFor(_ => _.Email, new { @class = "form-control", @placeholder = "Email", type = "email", @required="" })
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(_ => _.Password, new { @class = "form-control", @placeholder = "Пароль", @required = "" })
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="text-center">
                        @Html.ValidationMessageFor(_ => _.Email, "", new {@class="text-danger"})
                    </div>
                    <div class="row">
                        <div class="col-xs-8">

                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat" style="background: #d0021b">Війти</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }
            </div>
            <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->
        <!-- jQuery 3 -->
        <script src="~/assets/js/jquery.min.js"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="~/assets/js/bootstrap.min.js"></script>
    </body>
</html>


