﻿@{
    ViewBag.Title = "АТП";
    ViewBag.Subtitle = "";
}

@model RKAdmin.Models.TransportOrganizationModel

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">АТП #@Model.Id</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Згорнути/ Разгорнути">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(_ => _.Id)

                    <div class="form-group">
                        <label>Назва</label>
                        @Html.TextBoxFor(_ => _.Name, new { @class = "form-control", required = "" })
                        @Html.ValidationMessageFor(_ => _.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Зберегти" class="btn btn-success" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>