﻿@{
    ViewBag.Title = "АТП";
    ViewBag.Subtitle = "";
}

@model List<RKAdmin.Models.TransportOrganizationModel>

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Список АТП</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Згорнути/ Разгорнути">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <a href="@Url.Action("Add")" class="btn btn-success">Додати</a>
        <br />
        <br />
        <table id="table" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Назва</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            <a href="@Url.Action("Details", new {id = item.Id})" class="btn btn-default btn-xs"><i class="icon ion-eye"></i></a>
                            <a href="@Url.Action("Edit", new {id = item.Id})" class="btn btn-default btn-xs"><i class="icon ion-edit"></i></a>
                            <button onclick="deleteItem(@item.Id)" class="btn btn-danger btn-xs"><i class="icon ion-close"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section styles
{
    <link rel="stylesheet" href="~/assets/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/sweetalert.css">
}


@section scripts
{
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/sweetalert.min.js"></script>

    <script>
        $('#table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Ukrainian.json"
            }
        });

        function deleteItem(id) {
            swal({
                    title: "Ви впевнені?",
                    text: "Цю дію не можливо відмінити!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Так, видалити!",
                    cancelButtonText: "Ні!"
                },
                () => {
                    $.post('@Url.Action("Delete")', { "id": id }, () => { window.location.reload(); })
                        .fail(() => {
                            swal({
                                title: "Помилка",
                                text:
                                    "Цю дію неможливо виконати зараз. Можливо цей елемент використовується у іншому місці",
                                type: "error",
                                showCancelButton: true,
                                showConfirmButton: false,
                                cancelButtonText: "Добре"
                            });
                        });
                });
        }
    </script>

}