﻿@using DataModel
@using DataModel.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@{
    var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new SkargaBotContext()));
    var user = userManager.FindByName(User.Identity.Name);
    var userData = new
    {
        user.UserName,
        user.Email,
        user.Name,
        Role = userManager.GetRoles(User.Identity.GetUserId()).First(),
    };
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title | Розумна країна</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/assets/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/assets/css/AdminLTE.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
    folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/assets/css/skins/skin-red-light.css">
    @RenderSection("styles", false)
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-red-light fixed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
<header class="main-header">
    <!-- Logo -->
    <a href="@Url.Action("Index", "Incidents")" class="logo" style="background-color: #f9fafc; border-right: 1px solid #d0021b">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        @*<span class="logo-mini"><b>B</b></span>*@
        <!-- logo for regular state and mobile devices -->
        @*<span class="logo-lg"><b>Brnad</b>NAME</span>*@
        <span class="logo-lg"><img src="~/assets/img/logo.svg"/></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" style="background-color: #d0021b">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                @*<!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success">4</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 4 messages</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                    <!-- start message -->
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="~/assets/img/user.png" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>
                                            Support Team
                                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                                <!-- end message -->
                            </ul>
                        </li>
                        <li class="footer"><a href="#">See All Messages</a></li>
                    </ul>
                </li>
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">10</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 10 notifications</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a></li>
                    </ul>
                </li>
                <!-- Tasks: style can be found in dropdown.less -->
                <li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger">9</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 9 tasks</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                    <!-- Task item -->
                                    <a href="#">
                                        <h3>
                                            Design some buttons
                                            <small class="pull-right">20%</small>
                                        </h3>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">20% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <!-- end task item -->
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="#">View all tasks</a>
                        </li>
                    </ul>
                </li>*@
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/assets/img/user.png" class="user-image" alt="User Image">
                        <span class="hidden-xs">@userData.UserName</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="~/assets/img/user.png" class="img-circle" alt="User Image">
                            <p>
                                @userData.Name
                                <small>@userData.UserName</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="text-center">
                                @userData.Role
                            </div>
                            <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                               
                            </div>
                            <div class="pull-right">
                                @using (Html.BeginForm("LogOff", "Account"))
                                {
                                    @Html.AntiForgeryToken()
                                    <input value="Вийти" class="btn btn-default btn-flat" type="submit"/>
                                }
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
            </ul>
        </div>
    </nav>
</header>
<!-- =============================================== -->
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar" style="border-right: 1px solid #d0021b">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/assets/img/user.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p style="text-overflow: ellipsis; width: 150px; white-space: nowrap; overflow: hidden;">@userData.UserName</p>
                @userData.Role
            </div>
        </div>
        <!-- search form -->
        @*<form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Пошук...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>*@
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Навігація</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-bars"></i>
                    <span>Інциденти</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("My", "Incidents")"><i class="fa fa-circle-o"></i>Мої інциденти</a></li>
                    @if (User.IsInRole("Диспетчер") || User.IsInRole("Адміністратор") || User.IsInRole("Майстер"))
                    {
                        <li><a href="@Url.Action("All", "Incidents")"><i class="fa fa-circle-o"></i>Всі інциденти</a></li>
                    }
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-bars"></i>
                    <span>Заказ-наряди</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("My", "Orders")"><i class="fa fa-circle-o"></i>Мої заказ-наряди</a></li>
                    @if (User.IsInRole("Диспетчер") || User.IsInRole("Адміністратор"))
                    {
                        <li><a href="@Url.Action("All", "Orders")"><i class="fa fa-circle-o"></i>Всі заказ-наряди</a></li>
                    }
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-bars"></i>
                    <span>Акти виконаних робіт</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("My", "Certificates")"><i class="fa fa-circle-o"></i>Мої акти</a></li>
                    @if (User.IsInRole("Диспетчер") || User.IsInRole("Адміністратор"))
                    {
                        <li><a href="@Url.Action("All", "Certificates")"><i class="fa fa-circle-o"></i>Всі акти</a></li>
                    }
                </ul>
            </li>
            @if (User.IsInRole("Диспетчер") || User.IsInRole("Адміністратор"))
            {
                <li class="header">Статистика</li>
                <li>
                    <a href="@Url.Action("Summary", "Statistic")">
                        <i class="fa fa-bar-chart"></i> <span>Зведена</span>
                    </a>
                </li>
            }
            @if (User.IsInRole("Диспетчер") || User.IsInRole("Адміністратор"))
            {
                <li class="header">Довідники</li>
                <li>
                    <a href="@Url.Action("Index", "IncidentTypes")">
                        <i class="fa fa-table"></i> <span>Типи інцидентів</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "TransportOrganizations")">
                        <i class="fa fa-building"></i> <span>АТП</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "TransportTypes")">
                        <i class="fa fa-bus"></i> <span>Типи трасп. засобів</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "TransportRoutes")">
                        <i class="fa fa-map"></i> <span>Маршрути</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Transports")">
                        <i class="fa fa-bus"></i> <span>Трансп. засоби</span>
                    </a>
                </li>
            }
            @if (User.IsInRole("Адміністратор"))
            {
                <li class="header">Адміністрування</li>
                <li>
                    <a href="@Url.Action("Index", "Users")">
                        <i class="fa fa-users"></i> <span>Користувачі</span>
                    </a>
                </li>
            }
            @*<li class="treeview">
                        <a href="#">
                            <i class="fa fa-pie-chart"></i>
                            <span>Charts</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="../charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>
                            <li><a href="../charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
                            <li><a href="../charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
                            <li><a href="../charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
                        </ul>
                    </li>*@
            @*<li class="treeview">
                        <a href="#">
                            <i class="fa fa-share"></i> <span>Multilevel</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-circle-o"></i> Level One
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa-circle-o"></i> Level Two
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                        </ul>
                    </li>*@
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<!-- =============================================== -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
            <small>@ViewBag.Subbtitle</small>
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        @RenderBody()
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    @*<div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
    reserved.*@
</footer>
<!-- Add the sidebar's background. This div must be placed
immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<!-- jQuery 3 -->
<script src="~/assets/js/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="~/assets/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="~/assets/js/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="~/assets/js/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="~/assets/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/assets/js/demo.js"></script>
@RenderSection("scripts", false)
<script>
    $(document).ready(function () {
        $('.sidebar-menu').tree();

        var path = $(location).attr('pathname'); // Will only work if string in href matches with location 
        $('.treeview-menu li a[href="' + path + '"]').parents().addClass('active');
        $('li a[href="' + path + '"]').parents().addClass('active');
    })
</script>
</body>
</html>
