﻿@using DataModel.Extentions
@model RKAdmin.Models.OrderViewModel

@{
    ViewBag.Title = "Заказ-наряди";
    ViewBag.Subtitle = "";
}

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Деталі заказ-наряду</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Згорнути/ Разгорнути">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Іинформація</a></li>
                        <li><a href="#tab_2" data-toggle="tab" aria-expanded="false">Заплановані роботи</a></li>
                        <li><a href="#tab_3" data-toggle="tab">Матеріали\інструменти для викорастання</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="row">
                                <div class="col-md-6">

                                    <a href="@Url.Action("Incident", "Incidents", new {id = Model.IncidentId})" target="_blank">Інцедент #@Model.IncidentId - переглянути деталі</a>

                                    <div class="form-group">
                                        <label>Стаус</label>
                                        <input class="form-control" readonly value="@Model.State.GetDisplayName()"/>
                                    </div>

                                    <div class="form-group">
                                        <label>Бренд авто</label>
                                        @Html.TextBoxFor(_ => _.AutoBarnd, new { @class = "form-control", @readonly = "" })
                                    </div>

                                    <div class="form-group">
                                        <label>Марка авто</label>
                                        @Html.TextBoxFor(_ => _.AutoBarnd, new { @class = "form-control", @readonly = "" })
                                    </div>

                                    <div class="form-group">
                                        <label>Год выпуска</label>
                                        @Html.TextBoxFor(_ => _.AutoYear, new { @class = "form-control", @readonly = "" })
                                    </div>

                                    <div class="form-group">
                                        <label>Дата начала робот:</label>

                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.TextBoxFor(_ => _.WorkStart, "{0:dd.MM.yyyy}", new { @class = "form-control pull-right datepicker", @readonly = "" })
                                        </div>
                                        <!-- /.input group -->
                                    </div>

                                    <div class="form-group">
                                        <label>Дата закінчення робот:</label>

                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.TextBoxFor(_ => _.WorkEnd, "{0:dd.MM.yyyy}", new { @class = "form-control pull-right datepicker", @readonly = "" })
                                        </div>
                                        <!-- /.input group -->
                                    </div>

                                    <div class="form-group">
                                        <label>План роботи</label>
                                        @Html.TextAreaFor(_ => _.WorkPlan, new { @class = "form-control", @readonly = "" })
                                    </div>
                                        
                                    <div class="form-group">
                                        <a href="@Url.Action("Create", "Certificates", new {orderId = Model.Id})" class="btn btn-info">Акти виконаних робіт</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_2">

                            <table id="table" class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>Робота</th>
                                    <th>Кіл-сть</th>
                                    <th>Норма часу (г)</th>
                                    <th>Вартість</th>
                                    <th>Сума</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var work in Model.OrderWorks)
                                {
                                    <tr>
                                        <td>@work.Name</td>
                                        <td>@work.Count</td>
                                        <td>@work.Time</td>
                                        <td>@work.Cost</td>
                                        <td>@(work.Count * work.Cost * work.Time)</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_3">

                            <table id="table2" class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>Назва</th>
                                    <th>Од. вим.</th>
                                    <th>Кіл-сть</th>
                                    <th>Вартість</th>
                                    <th>Сума</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var work in Model.OrderItems)
                                {
                                    <tr>
                                        <td>@work.Name</td>
                                        <td>@work.Type</td>
                                        <td>@work.Count</td>
                                        <td>@work.Cost</td>
                                        <td>@(work.Count * work.Cost)</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->

                </div>
                
                <a href="@Url.Action("Edit", new {id = Model.Id})" class="btn btn-info">Редагувати</a>
            </div>
        </div>
    </div>
</div>


@section styles
{
    <link rel="stylesheet" href="~/assets/css/dataTables.bootstrap.min.css">
}

@section scripts
{
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/locales/bootstrap-datepicker.ru.min.js"></script>

    <script>

        var table1 = $('#table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Ukrainian.json"
            }
        });
        var table2 = $('#table2').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Ukrainian.json"
            }
        });
    </script>
}
