﻿@{
    ViewBag.Title = "Користувачі";
    ViewBag.Subtitle = "";
}

@model RKAdmin.Models.UserViewModel

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Новий Користувач</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Згорнути/ Разгорнути">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        <label>Email</label>
                        @Html.TextBoxFor(_ => _.UserName, new { @class = "form-control", @required = "", type = "email" })
                        @Html.ValidationMessageFor(_ => _.UserName, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Им'я</label>
                        @Html.TextBoxFor(_ => _.Name, new { @class = "form-control", @required = "", })
                        @Html.ValidationMessageFor(_ => _.Name, "", new { @class = "text-danger" })
                    </div>

                    
                    <div class="form-group">
                        <label>Пароль</label>
                        @Html.TextBoxFor(_ => _.Password, new { @class = "form-control", @required = "", pattern = ".{6,}", title = "Пароль має бути не меньш ніж 6 символів" })
                        @Html.ValidationMessageFor(_ => _.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Роль</label>
                        @Html.DropDownListFor(_ => _.Role.Id, (SelectList)ViewBag.Roles, new { @class = "form-control", @required = "" })
                        @Html.ValidationMessageFor(_ => _.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Зберегти" class="btn btn-success" />
                    </div>
                    <a href="@Url.Action("Index")" class="btn btn-danger">Відміна</a>
                }
            </div>
        </div>
    </div>
</div>