﻿@{
    ViewBag.Title = "Інциденти";
    ViewBag.Subtitle = "Деталі інцидента";
}

@using System.Globalization
@model RKAdmin.Models.IncidentViewModel

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Інцидент #@Model.Id</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Згорнути/ Разгорнути">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Создан</label>
                    <input readonly value="@Model.CraetedAt.ToString("g")" class="form-control" />
                </div>

                @if (Model.TransportRoute != null)
                {
                    <div class="form-group">
                        <label>Маршрут</label>
                        <input readonly value="@Model.TransportRoute.Name (@Model.TransportRoute.StartStation - @Model.TransportRoute.StopStation)" class="form-control" />
                    </div>
                }

                <div class="form-group">
                    <label>Транспортний засіб</label>
                    <input readonly value="@(Model.Transport?.Code ?? "Не вказано номер ТЗ")" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Типи інциденту</label>
                    <input readonly value="@string.Join(", ", Model.IncidentTypes.Select(_ => _.Name))" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Від</label>
                    <input readonly value="@(Model.User?.Name ?? "Аононимно")" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Опис</label>
                    <textarea readonly class="form-control">@Model.Description</textarea>
                </div>

                <hr />

                @if (User.IsInRole("Адміністратор") || User.IsInRole("Диспетчер"))
                {
                    <h4>Редактирование информации</h4>
                    using (Html.BeginForm())
                    {
                        @Html.HiddenFor(_ => _.Id)

                        <div class="form-group">
                            <label>Вiдповiдальний</label>
                            @Html.DropDownListFor(_ => _.AssignedUser.Id, (List<SelectListItem>)ViewBag.Users, new { @class = "form-control" })
                            @Html.ValidationMessageFor(_ => _.State, "", new { @class = "text-danger" })
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>Статус</label>
                                    @Html.EnumDropDownListFor(_ => _.State, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(_ => _.State, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Дедлайн</label>
                                    <a class="btn btn-default form-control" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-calendar"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Зберегти" class="btn btn-success" />
                        </div>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Установка дедлайна</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Статус</label>
                                                    @Html.EnumDropDownListFor(_ => _.DeadlineState, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(_ => _.DeadlineState, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Дата дедлайна:</label>
                                                    <div class="input-group date">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        @Html.TextBoxFor(_ => _.DeadlineDate, "{0:dd.MM.yyyy}", new { @class = "form-control pull-right datepicker" })
                                                    </div>
                                                    <!-- /.input group -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ок</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else if (User.IsInRole("Майстер"))
                {

                    <div class="form-group">
                        <a href="@Url.Action("SelfAssign", "Incidents", new {id = Model.Id})" class="btn btn-success">Здробити віодповідальним себе</a>
                    </div>

                    <div class="form-group">
                        <a href="@Url.Action("Create", "Orders", new {incidentId = Model.Id})" class="btn btn-info">Заказ-наряд</a>
                    </div>
                }
            </div>
            <div class="col-md-6">
                <div id="gmap" style="height: 350px; width: 100%; margin-top: 10px"></div>
                @if (Model.Images?.Count > 0)
                {
                    <hr />
                    <h4>Фото інцидента</h4>
                    <div id="images" data-slick='{"slidesToShow": 6, "slidesToScroll": 6}' style="margin-left: 15px; margin-right: 15px">
                        @foreach (var image in Model.Images)
                        {
                            <img class="img-item" height="100" src="//api.rozumnakrayina.com.ua/api/rk/files/getfile?id=@image.Id" />
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Повідомлення по інциденту</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Згорнути/ Разгорнути">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        @if (User.IsInRole("Адміністратор") || User.IsInRole("Диспетчер"))
        {
            using (Html.BeginForm("PostMessage", "Incidents", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                @Html.HiddenFor(_ => _.Id)

                <div class="form-group">
                    <label>Нове повідомлення</label>
                    @Html.TextAreaFor(_ => _.NewMessage.Text, new { @class = "form-control", required = "" })
                    @Html.ValidationMessageFor(_ => _.NewMessage.Text, "", new { @class = "text-danger" })
                </div>

                <div class="file-loading">
                    <input id="input-b6" name="input-b6[]" type="file" multiple>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Відправити" class="btn btn-info" />
                </div>
            }
            <hr />
        }

        @if (Model.Messages.Count > 0)
        {
            foreach (var message in Model.Messages)
            {
                <div class="callout" style="border-left: 5px solid #d0021b;">
                    <h5> <b>#@message.Id. Від: @message.Sender.Name. Дата: @message.PostDate</b></h5>

                    <p>@message.Text</p>
                    <div id="images" data-slick='{"slidesToShow": 12, "slidesToScroll": 12}' style="margin-left: 15px; margin-right: 15px">
                        @foreach (var image in message.Images)
                        {
                            <img class="img-item" height="50" src="@MvcApplication.ApiHost/api/rk/files/getfile?id=@image.Id" />
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <p class="text-center">Зараз немає повідомлень по цьому інциденту</p>
        }
    </div>
</div>

<!-- The Modal -->
<div id="img-modal" class="img-modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="img-modal-content" id="modal-img">
</div>




@section styles
{
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css" />
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/gallery.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-datepicker.min.css">
    <link href="~/assets/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />

}

@section scripts
{
    <!-- Google Maps API Js -->
    <script src="https://maps.google.com/maps/api/js?v=3&key=AIzaSyBIn9xNcphoBCZRWIDNNPUYtAiP3qU07_8"></script>
    <!-- GMaps PLugin Js -->
    <script src="~/assets/js/gmaps.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/locales/bootstrap-datepicker.ru.min.js"></script>
    <script src="~/assets/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="~/assets/js/locales/ru.js"></script>

    <script>
        var map = new GMaps({
            div: '#gmap',
            zoom: 12,
            lat: 48.458124202908905,
            lng: 35.03414511680603
        });

        var modal = $("#img-modal");
        var modalImg = $("#modal-img");

        var span = $(".close");

        span.on('click', () => {
            modal.hide();
        });

        $(".img-item").on('click',
            (e) => {
                var src = $(e.target).attr('src');
                modalImg.attr('src', src);
                modal.show();
            });

        $(() => {
            var lat = @Model.Latitude.ToString(CultureInfo.InvariantCulture);
            var lng = @Model.Longitude.ToString(CultureInfo.InvariantCulture);
            map.setCenter(lat, lng);
            map.addMarker({
                lat: lat,
                lng: lng
            });

            $("#images").slick();

            //Date picker
            $('.datepicker').datepicker({
                autoclose: true,
                format: 'dd.mm.yyyy'
            });

            $("#input-b6").fileinput({
                showUpload: false,
                dropZoneEnabled: false,
                maxFileCount: 10,
                mainClass: "input-group-lg",
                language: "ru",
                allowedFileExtensions: ["jpg", "png"]
            });

        });
    </script>
}
