﻿@{
    ViewBag.Title = "Інциденти";
    ViewBag.Subtitle = "Мої інциденти";
}
@using DataModel.Extentions
@model List<RKAdmin.Models.IncidentViewModel>

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Список інцидентів</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Згорнути/ Разгорнути">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table id="table" class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Дата</th>
                <th>Типи</th>
                <th>Статус</th>
                <th>Дедлайн</th>
                <th>Від</th>
                <th>Відповідальний</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr class="@(item.DeadlineDate?.Date <= DateTime.Now ? "danger" : "")">
                    <td>@item.Id</td>
                    <td>@item.CraetedAt.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@string.Join(", ", item.IncidentTypes.Select(_ => _.Name))</td>
                    <td>@item.State.GetDisplayName()</td>
                    <td>@(item.DeadlineState != null ? $"{item.DeadlineState?.GetDisplayName()} ({item.DeadlineDate:dd.MM.yyyy})" : "Не установлен")</td>
                    <td>@(item.User.UserName == null ? "Анонімно" : $"{item.User.Name} ({item.User.Role.Name})") </td>
                    <td>@(item.AssignedUser?.Name)</td>
                    <td>
                        <a href="@Url.Action("Incident", new {id = item.Id})" class="btn btn-default btn-xs"><i class="icon ion-eye"></i></a>
                        <button onclick="deleteItem(@item.Id)" class="btn btn-danger btn-xs"><i class="icon ion-close"></i></button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@section styles
{
    <link rel="stylesheet" href="~/assets/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/sweetalert.css">
}


@section scripts
{
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/sweetalert.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.16/sorting/date-de.js"></script>
   
    <script>
        $('#table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Ukrainian.json"
            },
            "columnDefs": [
                { type: 'de_datetime', targets: 1 }
            ],
            "order": [[1, "desc"]]
        });

        function deleteItem(id) {
            swal({
                    title: "Ви впевнені?",
                    text: "Цю дію не можливо відмінити!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Так, видалити!",
                    cancelButtonText: "Ні!"
                },
                () => {
                    $.post('@Url.Action("Delete")', { "id": id }, () => { window.location.reload(); })
                        .fail(() => {
                            swal({
                                title: "Помилка",
                                text:
                                    "Цю дію неможливо виконати зараз. Можливо цей елемент використовується у іншому місці",
                                type: "error",
                                showCancelButton: true,
                                showConfirmButton: false,
                                cancelButtonText: "Добре"
                            });
                        });
                });
        }
    </script>

}