﻿@{
    ViewBag.Title = "Типи транспорта";
    ViewBag.Subtitle = "";
}

@model RKAdmin.Models.TransportTypeViewModel

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Тип транспорта #@Model.Id</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Згорнути/ Разгорнути">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Назва</label>
                    @Html.TextBoxFor(_ => _.Name, new { @class = "form-control", @readonly = "" })
                </div>
            </div>
        </div>
    </div>
</div>